body, html, #root, .App {
  height: 100%;
  width: 100%;
  background-color: black;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.body , .action {
  width: 100%;
}

.body {
  flex-grow: 9;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.action {
  flex-grow: 1;
  background-color: teal;
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.res {
  font-size: 50px;
}
